<h1> Edit vehicle to be serviced</h1>

<% if @newCar.errors.any? %>
<h2> The following errors preventing from saving! </h2>
    <ul>
      <% @newCar.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
    <ul>
<% end %>

  


<%= form_with model: @vehicle do |f| %>
  <% p @vehicle %>
  <% p @newCar %>
  
  <p>
    <%= f.label :stock_number %>
    <%= f.text_field :stock_number %>
  </p>
  <p>
    <%= f.label :Vin %>
    <%= f.text_field :vin %>
  </p>
  <p>
    <%= f.label :year %>
    <%= f.text_field :year %>
  </p>
  <p>
    <%= f.label :make %>
    <%= f.text_field :make %>
  </p>
  <p>
    <%= f.label :model %>
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.label :mileage %>
    <%= f.text_field :mileage %>
  </p>
  <p>
    <%= f.label :type %>
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :purchase_price %>
    <%= f.text_field :purchase_price %>
  </p>
  <p>
    <%= f.label :recon_budget %>
    <%= f.text_field :recon_budget %>
  </p>
  <p>
    <%= f.label :status %>
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>